section.hero {
  height: 226px;
  background-image: url(../assets/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero__subtitle {
  padding-top: 40px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0.14em 1.4em rgba(0, 0, 0, 0.5);
}

.hero__title {
  margin-top: 4px;
  font-size: 26px;
  letter-spacing: 0.1em;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0.14em 1.4em rgba(0, 0, 0, 0.5);
}

.hero__title::after {
  content: "";
  width: 5.23em;
  height: 0.077em;
  position: relative;
  left: calc(50% - 5.23em / 2);
  display: block;
  margin-top: 0.31em;
  background-color: white;
  filter: drop-shadow(0 0.14em 1.4em rgba(0, 0, 0, 0.5));
}

@media (min-width: 425px) {
  section.hero {
    height: 240px;
  }

  .hero__subtitle {
    padding-top: 44px;
    font-size: 15px;
  }

  .hero__title {
    margin-top: 4px;
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  section.hero {
    height: 300px;
  }

  .hero__subtitle {
    padding-top: 60px;
    font-size: 16px;
  }

  .hero__title {
    margin-top: 4px;
    font-size: 34px;
  }
}

@media (min-width: 1024px) {
  section.hero {
    height: 420px;
  }

  .hero__subtitle {
    padding-top: 90px;
    font-size: 18px;
  }

  .hero__title {
    margin-top: 5px;
    font-size: 40px;
  }
}

@media (min-width: 1440px) {
  section.hero {
    height: 550px;
  }

  .hero__subtitle {
    padding-top: 120px;
    font-size: 20px;
  }

  .hero__title {
    margin-top: 6px;
    font-size: 48px;
  }
}

section.selections {
  display: flex;
  justify-content: center;
}

.selections__container {
  width: 288px;
  height: 400px;
  margin-top: -24px;
  border: solid 1px #CCC;
  background-color: white;
}
